
.login-form{
    box-shadow: 0 2px 12px 0  ALICEBLUE;
    border-radius: 8px; 
    width: 400px;
    height: 300px;
    max-width: 100%;
    padding: 0px 35px 0; 
    margin:auto;
    position:absolute; 
    top:50%;
    left:50%;
    margin:-160px 0 0 -200px; 
}


body {
    background-image: url(../images/猫.jpeg);
}



.logon input {
    display: block;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 15px;
    border: 1px solid aquamarine;
    border-radius: 12px;
    text-align: center;
}

.logon button {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-left: 100px;
    background-color: aquamarine;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 12px;
}
    

.logon h1 {
    width: 200px;
    height: 30px;
    margin-top: 21px;
    margin-left: 100px;    
    margin-bottom: 30px;
    padding-left: 67px;

}

