* {
    margin: 0;
    padding: 0;
}

body {

    background-image: url(../images/小猫1.jpeg);
   
    
}

.msg-content {
    margin-top: 1px;
    padding: 1px;
    /* width: 100%; */
    /* overflow: auto; */
    outline: none;
    /* height: 6vh; */
    background-color: white;
  }

  .msg-content:empty::before {
      content: attr(placeholder);
  }

  .msg-content > img {
    max-height:  100px;
    max-width:  100px;
  }

  
.msg-html {
   
    word-wrap: break-word;
    max-width:  600px;
}

.msg-html >img {
   
   max-height:  200px;
   max-width:  200px;
}

/* ::-webkit-scrollbar{
    display:none;
  } */

